
/* //custom css */

/* logo css */
.heading {
	color: #fff;
	margin-top: 23px;

}

.logo {
	-webkit-background-clip: text;
	-webkit-text-fill-color: #38f000;
}

.logo:hover {
	position: relative;

	text-transform: uppercase;

	overflow: hidden;
	background: linear-gradient(90deg, rgb(0, 0, 0), #38f000, #000);
	background-repeat: no-repeat;
	background-size: 80%;
	animation: animate 3s linear infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
	0% {
		background-position: -500%;
	}

	100% {
		background-position: 500%;
	}
}


/* logo css */

.test-shine {


	background-repeat: no-repeat;
	position: relative;
	border-radius: 5px;
	overflow: hidden;

}

.test-shine:after {
	content: "";
	position: absolute;
	top: -50%;
	left: -60%;
	width: 20%;
	height: 200%;
	opacity: 0;
	transform: rotate(30deg);
	background: rgba(255, 255, 255, 0.13);
	background: linear-gradient(to right,
			rgba(255, 255, 255, 0.13) 0%,
			rgba(255, 255, 255, 0.13) 77%,
			rgba(255, 255, 255, 0.5) 92%,
			rgba(255, 255, 255, 0.0) 100%);
}

/* Hover state - trigger effect */
.test-shine:hover:after {
	opacity: 1;
	left: 130%;
	transition-property: left, top, opacity;
	transition-duration: 0.7s, 0.7s, 0.15s;
	transition-timing-function: ease;
}

/* Active state */
.test-shine:active:after {
	opacity: 0;
}

.paragrap {
	color: #999;
}


/* social handle */

.icon i {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 0rem;
	color: #eee;
}

.ul {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 1rem;
	list-style-type: none;
	font-size: 1rem;
}

.ul li {
	padding: 1rem;
}



/* transition for social icon hover animation */
.fa-facebook,
.fa-codepen,
.fa-youtube,
.fa-instagram,
.fa-github,
.fa-pinterest {
	transition: 0.4s;
	cursor: pointer;
}

/* social media icons hover color */
.fa-facebook:hover,
.fa-facebook:focus {
	color: #1877f2;
	transform: scale(1.1);
}

.fa-twitter:hover,
.fa-twitter:focus {
	color: #1da1f2;
	transform: scale(1.1);
}

.fa-youtube:hover,
.fa-youtube:focus {
	color: #df2426;
	transform: scale(1.1);
}

.fa-instagram:hover,
.fa-instagram:focus {
	color: #bd22a2;
	transform: scale(1.1);
}

@media(max-width: 384px) {
	.icon i {
		font-size: 23px;
	}
}

/* slider  */
@media (max-width:470px) {
	.paragrap {
		font-size: 7px;
		margin: 5px;

	}

	.image {

		padding: 10px;

	}
}

.image {
	padding: 10px;

}

.paragrap {
	margin: 5px;
	text-align: justify;
}

/* slidebar css */

.context {
	width: 100%;
	position: absolute;
	top: 50vh;
	z-index: 1;

}

.context h1 {
	text-align: center;
	color: #fff;
	font-size: 50px;

}

.area {
	background: #0f0f0f;
	background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
	width: 100%;
	height: 100vh;


}

.circles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgb(5, 255, 59);
	animation: animate 25s linear infinite;
	bottom: -150px;

}

.circles li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}


.circles li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s;
}

.circles li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;
}

.circles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 18s;
}

.circles li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
}

.circles li:nth-child(6) {
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 3s;
}

.circles li:nth-child(7) {
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 7s;
}

.circles li:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s;
}

.circles li:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s;
}

.circles li:nth-child(10) {
	left: 85%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 11s;
}



@keyframes animate {

	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}

	100% {
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}

}
